<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Shopping List - Add a new Item</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>

<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:text="#{appTitle}"></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/" th:text="#{home}"></a></li>
                <li><a href="../../items" th:text="#{viewItems}"></a></li>
                <li class="active"><a href="" th:text="#{addItem}"></a></li>
            </ul>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px">
                Signed in anonymously</p>
        </div>
    </nav>
</header>

<div class="navbar-form">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="fr" th:text="#{lang.fr}"></option>
    </select>
</div>

<div class="container">
    <h2 th:text="#{itemDetails}"></h2>
    <div>
        <form class="form-horizontal" th:object="${item}" th:action="@{/item}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{itemName}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{itemName}"/>
                    <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{itemPrice}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{itemPrice}"/>
                    <p th:if="${#fields.hasErrors('itemPrice')}" th:errors="*{itemPrice}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="#{itemQuantity}"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{quantity}"/>
                    <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default" th:text="#{submit}"></button>
            </div>
        </form>
    </div>
</div>

<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"  class="text-muted">Page was rendered today.</p>
    </div>
</footer>
</body>
</html>