<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Shopping List - Add a new Item</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
</head>

<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Spring Shopping Manager</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="../items">View Items</a></li>
                <li class="active"><a href="">Add a new item<span class="sr-only">(current)</span></a></li>
            </ul>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px">
                Signed in anonymously</p>
        </div>
    </nav>
</header>

<div class="container">
    <h2>Item Details</h2>
    <div>
        <form class="form-horizontal" th:object="${item}" th:action="@{/item}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Item Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{itemName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Item Price:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{itemPrice}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Quantity:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{quantity}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>