<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hibernate Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<ol>
    <li th:each="item : ${searchResults}">
        <b><span th:text="${item.itemName}"></span></b> -
        <span th:text="${item.itemPrice}"></span> -
        <span th:text="${item.quantity}"></span>
    </li>
</ol>

<p th:if="${searchResults.isEmpty()}">
    <strong>Hint</strong>: the query "<a href='/search?q=amy'>amy</a>"
    should return some results.
</p>

<br />
<hr />
</body>

</html>