<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Shopping List Manager</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            /*<![CDATA[*/

            // Create the data table.
            var data = new google.visualization.DataTable();
            var water = [[#{water}]];
            var potato = [[#{potatoes}]];
            var coffee = [[#{coffee}]];
            var blueberries = [[#{blueberries}]];
            var noodles = [[#{noodles}]];
            var cookies = [[#{cookies}]];
            data.addColumn('string', 'Items');
            data.addColumn('number', 'Popularity');
            data.addRows([

                [water, 6],
                [potato, 2],
                [coffee, 2],
                [blueberries, 4],
                [noodles, 3],
                [cookies, 7]
            ]);

            // Set chart options
            var chartTitle = [[#{chartTitle}]];
            var options = {
                'title': chartTitle,
                'width': 800,
                'height': 800
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);

        }

        /*]]>*/


    </script>
</head>

<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:text="#{appTitle}"></a>
            </div>
            <ul class="nav navbar-nav ">
                <li><a href="#" th:text="#{home}"></a></li>
                <li><a href="items" th:text="#{viewItems}"></a></li>
                <li><a href="items/new" th:text="#{addItem}"></a></li>
            </ul>
            <p class="navbar-text navbar-right" th:text="#{signedIn}" style="margin-right: 10px">
                Signed in anonymously</p>
        </div>
    </nav>
</header>

<div class="navbar-form">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="fr" th:text="#{lang.fr}"></option>
    </select>
</div>

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>


<footer class="footer" style="position: absolute; padding-top: 10px; bottom:0;background-color: #f5f5f5; width: 100%">
    <div class="container">
        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"  class="text-muted">Page was rendered today.</p>
    </div>
</footer>

</body>
</html>

